/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* This kills the black bar inconsistency */
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; /* This pushes the footer to the very bottom */
}